# Python & Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# Build & cache
*.egg-info/
*.log
*.tmp
.cache/

# Data (large point clouds)
*.las
*.laz
*.pcd
*.zip
*.csv
*.png

# OS & editor files
.DS_Store
.idea/
.vscode/

# Project folders
Data/
